<div class="game-container">
  <mat-card class="game-header">
    <mat-card-header>
      <mat-card-title>Star Wars Battle</mat-card-title>
    </mat-card-header>
  </mat-card>

  <div class="resource-buttons">
    <button mat-raised-button [color]="resourceType === 'people' ? 'primary' : ''" (click)="changeResourceType('people')">People</button>
    <button mat-raised-button [color]="resourceType === 'starships' ? 'primary' : ''" (click)="changeResourceType('starships')">Starships</button>
  </div>


  <div class="score-board">
    <mat-card class="score-card">
      <mat-card-header>
        <mat-card-title>Scores</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Left Player: {{ leftScore }}</p>
        <p>Right Player: {{ rightScore }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cards-container">
    <mat-card class="card" *ngIf="leftCard">
      <mat-card-header>
        <mat-card-title>Left Player</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Name: {{ leftCard.name }}</p>
        <p *ngIf="resourceType === 'people'">Mass: {{ leftCard.mass }} kg</p>
        <p *ngIf="resourceType === 'starships'">Crew: {{ leftCard.crew }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" *ngIf="rightCard">
      <mat-card-header>
        <mat-card-title>Right Player</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Name: {{ rightCard.name }}</p>
        <p *ngIf="resourceType === 'people'">Mass: {{ rightCard.mass }} kg</p>
        <p *ngIf="resourceType === 'starships'">Crew: {{ rightCard.crew }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="winner" class="winner-announcement">
    <h3>Winner: {{ winner }}</h3>
  </div>

  <button mat-raised-button color="primary" class="play-again-button" (click)="startGame()">Play Again</button>
</div>
